/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; /* Adjust the value as needed (e.g., 0.5rem, 16px, etc.) */
}

.codeBlockContainer {
  display: flex;
  justify-content: center; /* Optional: Centers the code blocks */
  gap: 1rem; /* Add space between the code blocks */
}

/* Optional: To make the code blocks take up equal space */
.codeBlockContainer > .theme-code-block {
  flex: 1;
}
.codeContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
